<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/auth/signIn.js}"></script>
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/auth/signIn.css}" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
<!-- 헤더 -->
<div th:replace="~{header :: header}"></div>

<!-- 네비게이션 바 -->
<div th:replace="~{navigation :: nav}"></div>
<div class="login-container">
    <h2>로그인</h2>
    <div>
        <div class="form-group">
            <label for="user_id">아이디</label>
            <input type="text" id="user_id" placeholder="아이디를 입력하세요" required>
        </div>

        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="비밀번호를 입력하세요" required>
        </div>

        <input id="signin" type="submit" value="로그인">
    </div>

    <div class="signup-link">
        아직 회원이 아니신가요? <a th:href="@{/member/join}">회원가입</a>
    </div>

    <div class="oauth-btn">
        <a th:href="@{/oauth/naver}" class="btn">네이버 로그인</a>
        <a th:href="@{/oauth/kakao}" class="btn">카카오 로그인</a>
        <a th:href="@{/oauth/google}" class="btn">구글 로그인</a>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>
