<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채팅방 목록</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<!--    <script th:src="@{/js/common.js}"></script>-->
    <script th:src="@{/js/chat-rooms.js}"></script>

    <link th:href="@{/css/chat/chat-rooms.css}" rel="stylesheet">

</head>
<body>
<h2>SAND-IT 톡</h2>

<div>
    <input type="text" id="roomName" placeholder="채팅방 이름 입력">
    <button onclick="createRoom()">채팅방 만들기</button>
</div>

<hr>

<div id="roomList">
    <!-- 방 목록이 여기에 표시됩니다 -->
</div>


</body>
</html>
