<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채팅방 목록</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<!--    <script th:src="@{/js/common.js}"></script>-->
<!--    <script th:src="@{/js/modal-chat.js}"></script>-->
<!--    <script th:src="@{/js/common.js}"></script>-->
<!--    모달에서 체크토큰이 전역에 영향을 끼침-->
    <script th:src="@{/js/chat-rooms.js}"></script>

    <link th:href="@{/css/chat/chat-rooms.css}" rel="stylesheet">

</head>
<body>
<h2>SANDIT TALK</h2>

<div>
    <select id="roomName">
        <option value="" disabled selected>문의 사항을 선택해 주세요.</option>
        <option value="제품 문의">제품 문의</option>
        <option value="결제 문의">결제 문의</option>
        <option value="배달 문의">배달 문의</option>
        <option value="서비스 관련 문의">서비스 관련 문의</option>
        <option value="기타 문의">기타 문의</option>
        <!-- 필요에 따라 옵션 추가 -->
    </select>
    <button onclick="createRoom()">1:1채팅 시작</button>
</div>
<hr>

<div id="roomList">
    <!-- 방 목록이 여기에 표시됩니다 -->
</div>


<script>
    window.WEBSOCKET_URL = window.WEBSOCKET_URL || '[[${websocketUrl}]]';
</script>


</body>
</html>
