<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & 공통 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/layout.js}"></script>

    <!-- 주문 목록 전용 스크립트 -->
    <script th:src="@{/js/delivery/deliveryList.js}"></script>

    <!-- 공용 CSS 스타일 -->
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/delivery/deliveryList.css}" rel="stylesheet"/>

    <title>배달 목록</title>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div th:replace="~{navigation :: nav}"></div>
<div class="container">
    <div class="header-delivery">
        <h1>
            <span>배달 목록</span>
            <span id="delivery-count">(0)</span>
        </h1>
        <div class="btn-group">
            <button id="refresh-btn" class="btn">새로고침</button>
        </div>
        <div>
            <input id="hiddenId" type="hidden">
            <input id="hiddenType" type="hidden">
            <input id="hiddenUserRole" type="hidden">
        </div>
    </div>

    <div id="board">
        <!-- 상태 탭 -->
        <ul id="status-tabs" class="tabs">
            <li data-status="ORDER_COOKING" class="active">배달요청</li>
            <li data-status="ORDER_DELIVERING">배달중</li>
        </ul>

        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>주문번호</th>
                <th>출발지</th>
                <th>배송지</th>
                <th>액션</th>
            </tr>
            </thead>
            <tbody id="deliveryContent">
            <!-- Ajax로 채워집니다 -->
            <!-- 무한스크롤로 계속 append 됩니다-->
            </tbody>
        </table>
    </div>
</div>
<script>
    const WEBSOCKET_URL = /*[[${websocketUrl}]]*/ "http://localhost:9006/delivery-location";
</script>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>
