<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" th:href="@{/css/order/order.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/auth/profile.js}"></script>
    <script th:src="@{/js/findAddress.js}"></script>
    <script th:src="@{/js/order/order.js}"></script>
</head>
<body>

<h1>장바구니 주문</h1>

<div id="cartContainer">
    <!-- 여기에 장바구니 아이템들이 JS로 렌더링됨 -->
</div>

<hr/>

<div class="buyer-info">
    <label>주문자 이름: <input type="text" id="name"></label><br/>
    <div class="address-group">
        <label>주소:
            <input type="text" id="mainAddress">
        </label>
        <button type="button" onclick="execDaumPostcode()">주소 검색</button>
        <input type="hidden" id="deliveryDestinationLat">
        <input type="hidden" id="deliveryDestinationLan">
    </div>
    <br/>
<!--    <label>상세 주소: <input type="text" id="subAddress1"></label>-->
    <label>이메일: <input type="text" id="email"></label><br/>
    <label>전화번호: <input type="text" id="phone"></label><br/>
    <label>결제수단:
        <select id="payMethod">
            <option value="card">카드</option>
        </select>
    </label>
    <label>포인트: <input type="text" id="point"></label>

    <label>
        스토어:
        <select id="storeSelect" required>
            <option value="">스토어 선택</option>
        </select>
    </label>
    <input type="hidden" id="storeLatitude">
    <input type="hidden" id="storeLongitude"><br/>

    <p>예약은 현재시간 기준 1시간 이후부터 가능합니다.</p>
    <label>예약 시간 (선택사항):
        <input type="text" id="reservationDate" name="reservationDate" placeholder="예약을 원하시면 입력해주세요.">
    </label><br/>

</div>

<div class="summary">
    <p>총 결제 금액: <span id="totalPrice">0 원</span></p>
    <button type="button" id="payButton">결제하기</button>
</div>

</body>
</html>
