<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/materialList.js}"></script>
    <link th:href="@{/css/commonList.css}" rel="stylesheet">
    <title>재료 목록</title>
</head>
<body>
<h1>재료 목록</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>칼로리</th>
        <th>가격</th>
        <th>이미지</th>
        <th>상태</th>
        <th>수정</th>

    </tr>
    </thead>
    <tbody id="materialTableBody">
    <tr th:each="material : ${materials}">
        <td th:text="${material.uid}"></td>
        <td th:text="${material.materialName}"></td>
        <td th:text="${material.calorie}"></td>
        <td th:text="${material.price}"></td>
        <td><img th:src="${material.img}" alt="재료 이미지" width="50"></td>
        <td th:text="${material.status}"></td>
        <td>
            <a th:href="@{/materials/edit(materialName=${material.materialName})}">수정</a>
        </td>
        <td>
            <button class="delete-btn" th:data-materialname="${material.materialName}">삭제</button>
        </td>
    </tr>
    </tbody>
</table>
<br>
<button onclick="location.href='/materials/admin'">새 재료 등록</button>
<button onclick="location.href='/admin'" style="margin-left: 10px;">메인으로 가기</button>
</body>
</html>
