<!DOCTYPE html>
<html>
<head>
    <title>메뉴 수정</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/menuEdit.js"></script>
    <link href="/css/menuEdit.css" rel="stylesheet">
</head>
<body>
<h1>메뉴 수정</h1>

<form id="menuEditForm">
    <input type="hidden" name="uid" value="{menu.uid}"/>

    <label>메뉴 이름:</label>
    <input type="text" name="menuName" value="{menu.menuName}"/><br>

    <label>가격:</label>
    <input type="number" name="price" value="{menu.price}"/><br>

    <label>칼로리:</label>
    <input type="number" step="0.1" name="calorie" value="{menu.calorie}"/><br>

    <!-- Bread -->
    <label>빵:</label>
    <select name="breadId">
        <option value="">-- 선택하세요 --</option>
        <!-- Bread options will be dynamically filled by JavaScript -->
    </select><br>

    <!-- Material -->
    <label>메인 재료:</label>
    <select name="material1Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Material options will be dynamically filled by JavaScript -->
    </select><br>

    <label>추가 재료 1:</label>
    <select name="material2Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Material options will be dynamically filled by JavaScript -->
    </select><br>

    <label>추가 재료 2:</label>
    <select name="material3Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Material options will be dynamically filled by JavaScript -->
    </select><br>

    <!-- Cheese -->
    <label>치즈:</label>
    <select name="cheeseId">
        <option value="">-- 선택하세요 --</option>
        <!-- Cheese options will be dynamically filled by JavaScript -->
    </select><br>

    <!-- Vegetables -->
    <label>채소 1:</label>
    <select name="vegetable1Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <label>채소 2:</label>
    <select name="vegetable2Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <label>채소 3:</label>
    <select name="vegetable3Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <label>채소 4:</label>
    <select name="vegetable4Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <label>채소 5:</label>
    <select name="vegetable5Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <label>채소 6:</label>
    <select name="vegetable6Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <label>채소 7:</label>
    <select name="vegetable7Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <label>채소 8:</label>
    <select name="vegetable8Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Vegetable options will be dynamically filled by JavaScript -->
    </select><br>

    <!-- Sauces -->
    <label>소스 1:</label>
    <select name="sauce1Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Sauce options will be dynamically filled by JavaScript -->
    </select><br>

    <label>소스 2:</label>
    <select name="sauce2Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Sauce options will be dynamically filled by JavaScript -->
    </select><br>

    <label>소스 3:</label>
    <select name="sauce3Id">
        <option value="">-- 선택하세요 --</option>
        <!-- Sauce options will be dynamically filled by JavaScript -->
    </select><br>

    <!-- Status -->
    <label>상태:</label>
    <select name="status">
        <option value="active">ACTIVE</option>
        <option value="deleted">DELETED</option>
    </select><br>

    <div class="form-group">
        <label>현재 이미지</label>
        <br>
        <img src="{menu.img}" alt="빵 이미지" width="100">
    </div>

    <div class="form-group">
        <label for="img">새 이미지 업로드</label>
        <input type="file" id="img" name="file" accept="image/*">
        <input type="hidden" id="imgUrl" name="img" value="{menu.img}">
    </div>

    <div class="form-actions">
        <button type="button" id="updateBtn">수정하기</button>
        <button type="button" onclick="location.href='/menus/list'">목록으로</button>
    </div>

</form>

</body>
</html>
