<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{/js/menuList.js}"></script>
    <link th:href="@{/css/menuList.css}" rel="stylesheet">
    <title>메뉴 목록</title>
</head>
<body>
<h1>메뉴 목록</h1>

<table>
    <thead>
    <tr>
        <th>메뉴 이름</th>
        <th>가격</th>
        <th>칼로리</th>
        <th>이미지</th>
        <th>빵</th>
        <th>메인 재료</th>
        <th>추가 재료</th>
        <th>치즈</th>
        <th>채소</th>
        <th>소스</th>
        <th>상태</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody id="menuTableBody">
    <!-- 메뉴 항목들이 여기에 동적으로 추가됩니다 -->
    </tbody>
</table>

<br>
<div>
    <button onclick="location.href='/menus/admin'">새 메뉴 등록</button>
    <button onclick="location.href='/admin'" style="margin-left: 10px;">메인으로 가기</button>
</div>

</body>
</html>
