<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/storeList.js}"></script>
    <link th:href="@{/css/storeList.css}" rel="stylesheet">
    <title>지점 목록</title>
</head>
<body>

<div class="container">
    <!--<input id="hiddenUserId" type="hidden">-->
    <input id="hiddenStoreName" type="hidden">

    <h1 id="welcome-message">지점 목록</h1>
    <a th:href="@{/store/register}" class="btn">지점 등록</a>
    <button onclick="logout();" class="btn logout-btn logout-btn-position">로그아웃</button>

    <!-- 게시판 영역 -->
    <div id="board">
        <table>
            <thead>
            <tr>
                <th>지점 번호</th>
                <th>지점명</th>
                <th>주소</th>
                <th>우편코드</th>
                <th>가입일</th>
                <th>지점상태</th>
            </tr>
            </thead>
            <tbody id="storeContent">
            <!-- Ajax를 통해 게시글 데이터가 여기에 동적으로 추가됨 -->


            </tbody>
        </table>
    </div>

    <!-- 페이징 영역 -->
    <div id="pagination">
        <button id="firstPage" class="btn">처음</button>
        <button id="prevPage" class="btn" disabled>이전</button>
        <span id="pageNumbers"></span>
        <button id="nextPage" class="btn">다음</button>
    </div>
</div>

</body>
</html>