<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & 공통 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>

    <!-- 주문 목록 전용 스크립트 -->
    <script th:src="@{/js/storeOrderList.js}"></script>

    <!-- 공용 CSS 스타일 -->
    <link th:href="@{/css/storeList.css}" rel="stylesheet"/>

    <title>지점 주문 목록</title>
</head>
<body>
<div class="container">
    <h1 id="welcome-message">지점 주문 목록</h1>

    <div id="board">
        <table>
            <thead>
            <tr>
                <th>주문번호</th>
                <th>고객번호</th>
                <th>결제수단</th>
                <th>상태</th>
                <th>주문일시</th>
                <th>예약일시</th>
                <th>아이템 수</th>
                <th>상세보기</th>
            </tr>
            </thead>
            <tbody id="storeContent">
            <!-- Ajax로 채워집니다 -->
            </tbody>
        </table>
    </div>
    <!-- 페이징 영역 -->
    <div id="pagination">
        <button id="firstPage" class="btn">처음</button>
        <button id="prevPage" class="btn" disabled>이전</button>
        <span id="pageNumbers"></span>
        <button id="nextPage" class="btn">다음</button>
    </div>
</div>

</body>
</html>
