<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>지점 상세</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/findAddress.js}"></script>
    <script th:src="@{/js/storeDetail.js}"></script>
    <link th:href="@{/css/storeDetail.css}" rel="stylesheet">

</head>
<body>
<div class="storeDetail-container">
    <h2>지점 상세 정보</h2>
    <form id="storeDetailForm">
        <!-- uid 및 위도 경도 숨겨놓기 -->
        <input type="hidden" id="uid">
        <input type="hidden" id="store_latitude" >
        <input type="hidden" id="store_longitude" >

        <div>
            <label>지점명:</label>
            <input type="text" id="store_name" required>
        </div>
        <div>
            <label>주소:</label>
            <input type="text" id="address" required>
        </div>
        <div>
            <label>우편번호:</label>
            <input type="text" id="postcode" required>
        </div>
        <div>
            <label>상태:</label>
            <select id="status">
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
            </select>
        </div>
        <div class="form-actions">
            <button type="submit">수정</button>
            <button type="button" id="deleteBtn" class="btn-delete">삭제</button>
        </div>
    </form>
</div>
</body>
</html>
