<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토큰 수신</title>
</head>
<body>
<script th:inline="javascript">
    // Thymeleaf가 accessToken 값을 주입합니다.
    var token = /*[[${accessToken}]]*/ "";

    console.log(token);
    if (token) {
        // access token을 localStorage에 저장
        localStorage.setItem("accessToken", token);
        // 토큰 저장 후 대시보드 페이지로 이동
        //window.location.href = '/';
    } else {
        console.error("access token이 전달되지 않았습니다.");
    }
</script>
</body>
</html>
