<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/updateProfile.js}"></script>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-container">
        <h1 id="welcome-message"></h1>
        <p>프로필 수정 중...</p>
    </div>
    <div class="group-btn">
        <button class="update-btn" id="updateProfileBtn">수정하기</button>
    </div>
</header>
<main>
    <div>
        <input id="hiddenUserId" type="hidden">
        <input id="hiddenUserName" type="hidden">
        <input id="hiddenUserRole" type="hidden">
    </div>
    <div class="detail-container">
        <div class="info-section">
            <div class="user-profile">
                <P>이름 : </P>
                <input type="text" id="user_name" />
            </div>
            <div class="user-profile">
                <P>이메일 : </P>
                <input type="text" id="user_email" />
            </div>
            <div class="user-profile">
                <label for="user_emailyn">이메일 수신여부 </label>
                <input type="checkbox" id="user_emailyn">
            </div>
            <div class="user-profile">
                <P>연락처 : </P>
                <input type="text" id="user_phone" />
            </div>
            <div class="user-profile">
                <label for="user_phoneyn">연락처 수신여부 </label>
                <input type="checkbox" id="user_phoneyn">
            </div>
            <div class="user-profile">
                <P>메인 주소 : </P>
                <input type="text" id="main_address" />
            </div>
            <div class="user-profile">
                <P>추가 주소 1 : </P>
                <input type="text" id="sub_address1" />
            </div>
            <div class="user-profile">
                <P>추가 주소 2 : </P>
                <input type="text" id="sub_address2" />
            </div>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2023 회사명. All rights reserved.</p>
</footer>
</body>
</html>